NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCylRywQqD9TqgI9mya8kv0V9J6W_eK4EI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sitejson-a8bac.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sitejson-a8bac
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sitejson-a8bac.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=878178962017
NEXT_PUBLIC_FIREBASE_APP_ID=1:878178962017:web:fe16fd72d207ff46fc3820
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-60KS27XQ4W

